.products {
    min-height: 600px;

    .product-item {
        float: left;
        width: 100%;
        padding: 10px;
        min-height: 400px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;

        .product-name {
            font-size: 1.75rem;
        }

        .cost {
            margin-bottom: 20px;

            small {
                color: #444;
                margin-right: 10px;
            }

            b {
                font-size: 2rem;
            }
        }

        .img-container {
            height: 250px;

            img {
                max-width: 100%;
                max-height: 100%;
                margin-bottom: 20px;
            }
        }

        hr {
            width: 30%;
            color: #eabf00;
            border: 1px solid #eabf00;
        }

        &:hover {
            box-shadow: inset 0px 0px 0px 1px #ececec;
        }

        button {
            width: 100%;
            color: #fff;
            background-color: #000;
        }
    }

}

.products .product-item:hover button {
    background-color: #eabf00;
}

.size-filter {
    text-align: center;

    span {
        border-radius: 50%;
        background-color: #ececec;
        width: 35px;
        height: 35px;
        display: inline-block;
        line-height: 35px;
        text-align: center;
        font-size: .8rem;
        cursor: pointer;
        margin: 10px 10px 0 0;

        &:hover {
            box-shadow: inset 0px 0px 0px 1px #444;
        }

        &.size-active {
            background-color: #444;
            color: #fff;
        }
    }
}

.bag {
    background-image: url(images/bag.png);
    position: fixed;
    top: 0;
    right: 0px;
    width: 65px;
    height: 65px;
    background-color: #1b1a20;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 998;

    .item-count {
        background-color: #eabf00;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        line-height: 18px;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: #000;
    }
}

.bag-list {
    position: fixed;
    right: -490px;
    height: 100%;
    background-color: #1b1a20;
    width: 100%;
    z-index: 999;
    top: 0px;
    color: #fff;
    transition: right .6s;

    &.active {
        right: 0px;
    }

    .close-bag {
        position: absolute;
        height: 40px;
        width: 40px;
        color: #fff;
        top: 0px;
        left: 0px;
        background-color: #1b1a20;
        font-weight: bold;
        cursor: pointer;
        z-index: 999;
        background-color: #000;
        text-align: center;
        line-height: 40px;
    }

    .head {
        padding: 25px 0;
        text-align: center;

        .icon {
            background-image: url(images/bag.png);
            width: 65px;
            height: 65px;
            background-color: #1b1a20;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;

            .item-count {
                background-color: #eabf00;
                border-radius: 50%;
                height: 18px;
                width: 18px;
                line-height: 18px;
                font-size: 1rem;
                display: inline-block;
                text-align: center;
                font-weight: bold;
                position: absolute;
                bottom: 5px;
                right: 10px;
                color: #000;
            }
        }

        .title {
            vertical-align: middle;
            font-size: 2rem;
        }
    }

    .bagged-items {
        padding: 0px;
        margin: 0px;

        .bagged-item {
            padding: 20px;

            .picture {
                width: 25%;
                display: inline-block;

                img {
                    height: 100px;
                }
            }

            .name-description {
                width: 45%;
                padding-left: 10px;
                display: inline-block;

                p.name {
                    font-size: 1.75rem;
                }

                p.description {
                    color: #808080;
                }
            }

            .item-price {
                width: 20%;
                color: #eabf00;
                text-align: right;
                font-size: 1.75rem;
                display: inline-block;
            }

            .remove-item {
                text-align: right;
                width: 10%;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                display: inline-block;
            }
        }
    }

    .total {
        padding: 20px;

        div {
            width: 50%;
        }

        .sub {
            display: inline-block;
            text-transform: uppercase;
            color: #808080;
        }

        .cost {
            display: inline-block;
            text-align: right;
            color: #eabf00;
            font-size: 2rem;
        }
    }

    button.checkout {
        background-color: #000;
        text-transform: uppercase;
        width: 100%;
        margin-top: 20px;

        &:hover {
            background-color: #eabf00;
        }
    }


    div.item-counter {
        width: 100%;
        padding-top: 10px;

        span, button, input {
            display: inline-block;
        }

        .form-control {
            width: 30px;
            height: 24px;
            padding: 2px;
            border-radius: 0px;
            text-align: center;
        }

        .input-group-btn {
            width: unset;
            display: table-cell;
        }

        .btn {
            padding: 1px 8px;
        }
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.paging {
    display: inline-block;
    text-align: center;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




@media (min-width: 480px) {
    .products {
        .product-item {
            width: 33%;
        }
    }

    .bag-list {
        width: 450px;

        .close-bag {
            left: -40px;
        }
    }
}

@media (min-width: 768px) {
    .products {
        .product-item {
            width: 25%;
        }
    }

    .size-filter {
        text-align: unset;
    }

    
}


.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
